/* elements textuel */
html {
  font-family: "Roboto", Arial;
  color: rgb(39, 39, 39);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Mukta", sans-serif;
  margin: 0;
  padding: 0;
}
a {
  color: #1976d2;
  text-decoration: none;
}
a:hover {
  color: #004ba0;
}
/* grid principale */
body {
  margin: auto;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 115px 1fr 50px;
}
header {
  grid-column: 1 / span 2;
}
#menu {
  display: none;
  grid-column: 1;
  grid-row: 2;
}
#contenu {
  grid-column: 1;
}
footer {
  grid-column: 1 / span 2;
  grid-row: 3;
}
/* mise en page du header */
header {
  /* boite */
  background: linear-gradient(90deg, #1976d2a4, #0f61be);
  border-bottom: 3px solid #c55f0073;
  margin-bottom: 15px;
  /* police et text */
  text-align: center;
  overflow-x: auto;
  overflow-y: hidden;
}
header * {
  margin: 0;
  padding: 0;
}
header a {
  color: black;
}
header ul {
  display: flex;
  justify-content: space-around;
  min-width: 500px;
  width: 100%;
  list-style: none;
  height: 70px;
}
header ul li {
  margin-left: 5px;
  margin-right: 5px;
}
#menu ul li::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url("https://images.math.cnrs.fr/IMG/png/section8-image.png");
  filter: grayscale(100%);
  background-size: cover;
  border-radius: 50%;
}
/* mise en page pied de page */
footer {
  margin-top: 15px;
  background: linear-gradient(90deg, #1976d2a4, #0f61be);
}
footer table {
  margin: auto;
}
footer td {
  padding-left: 5px;
  padding-right: 5px;
  border-right: 2px solid #c56000;
  color: white;
}
footer td:last-child {
  border-width: 0px;
}
/* mise en page contenu de la page */
#contenu {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
}
#student-grid {
  display: grid;
  grid-template-columns: 33% 1fr 33%;
  grid-template-rows: 100px 100px 100px 100px;
}
.student {
  margin: 10px;
  padding: 5px;
  border: 2px solid rgba(0, 0, 0, 0.336);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.336);
  border-radius: 5px;
  overflow: hidden;
}
.student h4 {
  padding-left: 5px;
  padding-bottom: 10px;
}
.student a {
  position: relative;
  color: rgb(0, 102, 185);
}
.student a::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -3px;
  border-bottom: 2px solid rgb(0, 102, 185);
  transition: 0.7s;
}
.student a:hover {
  color: rgb(0, 51, 94);
}
.student a:hover::before {
  left: 50%;
}
.student:hover {
  transform: scale(1.1);
  transition: 0.5s ease-out;
}
.student.capu {
  background: rgba(173, 216, 230, 0.493);
}
.student.clem {
  background: rgba(28, 192, 162, 0.548);
}
.student.fran {
  background: #7289da8a;
}
.student.haji {
  background: rgba(0, 128, 0, 0.507);
}
.student.ludo {
  background: linear-gradient(
    to right,
    rgba(255, 0, 0, 0.473),
    white,
    rgba(0, 0, 255, 0.555)
  );
}
.student.magg {
  background: rgba(255, 0, 149, 0.342);
}
.student.mama {
  background: rgba(255, 166, 0, 0.329);
}
.student.marc {
  background: #dddddd;
}
.student.mehdi {
  background: white;
}
.student.nina {
  background: #f9e4b78e;
}
.student.tanya {
  background: linear-gradient(to right, #e43090c4, #f7aed5c4);
}
.student.young {
  background: rgba(126, 191, 191, 0.658);
}

/*
.green-box {
  min-width: 500px;
  width: 100%;
  height: 100px;
  background-color: green;
}

@media (max-width: 600px) {
  body {
  }
}
*/
