/* typographie générale */
html {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}
h1 {
  font-size: 1.5625rem;
}
h2 {
  font-size: 1.25rem;
}
p,
ul {
  font-size: 0.8rem;
  line-height: 1.6;
}
code p {
  padding: 0;
  margin: 0;
  line-height: 1.5;
}
/* layout général */
body {
  margin: auto;
  background-color: #eff2f5;
}
header {
  /* l'entete reste toujours en haut */
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  background: linear-gradient(45deg, deeppink, orange 75%, orangered);
  height: 48px;
  overflow: hidden;
}
.header-content {
  /* le contenu de l'entete s'ecrit de gauche a droite */
  display: flex;
  margin: auto;
  width: 100%;
  max-width: 1212px;
}
.header-content > * {
  padding: 0;
  margin: 0;
  padding-top: 14px;
  height: 20px;
  line-height: 20px;
  margin-left: 5px;
  margin-right: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.header-content h4 span,
.header-content p {
  color: white;
}
.header-content form {
  min-width: 100px;
}
.header-content .separator {
  flex-grow: 1;
}
#main-content {
  margin-top: 70px;
}
article {
  max-width: 683px;
  width: 100%;
  margin: auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding-right: 1.2rem;
  padding-left: 1.2rem;
  padding-top: 0.6rem;
}
.bloc-code {
  background-color: rgba(239, 242, 245, 0.5);
}
code {
  background-color: transparent;
}
code p {
  padding-left: 10px;
  padding-right: 10px;
}
